body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.example-card {
    min-width: 300px;
    min-height: 150px;
    max-width: 300px;
    max-height: 150px;
    margin-bottom: 8px;
    margin: 10px;
}

.example-card img {
    border-radius: 50%;
}

.mat-card {
    cursor: pointer;
}

button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 100;
}