<body>
    <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
        <mat-icon (click)="newCompany()">add</mat-icon>
      </button>
    <div *ngFor="let company of companies">
        <mat-card class="example-card" *ngIf="company.active" (click)="updateCompany(company)">
            <mat-card-title-group>
                <mat-card-title>{{company.nomeFantasia}}</mat-card-title>
                <mat-card-subtitle>{{company.razaoSocial}}</mat-card-subtitle>
                <img mat-card-md-image [src]="company.avatarUrl">
            </mat-card-title-group>
            <mat-card-content>
                Quantidade de Funcionários {{company.qtdeFuncionarios}}
            </mat-card-content>
        </mat-card>
    </div>
</body>