<div class="example-container">
    <div class="form-container">
        <div *ngIf="data.avatarUrl" style="text-align: center;">
            <img mat-card-md-image [src]="data.avatarUrl">
        </div>
        <form [formGroup]="descricao">
            <mat-form-field class="form-field" appearance="outline">
                <mat-label> Nome Fantasia
                </mat-label>
                <input matInput formControlName="nomeFantasia" required>

            </mat-form-field>

            <mat-form-field class="form-field" appearance="outline">
                <mat-label> Razão Social
                </mat-label>
                <input matInput formControlName="razaoSocial">
            </mat-form-field>

            <mat-form-field class="form-field" appearance="outline">
                <mat-label> Quantidade de Funcionários
                </mat-label>
                <input matInput formControlName="qtdeFuncionarios" type="number">
            </mat-form-field>

            <button mat-raised-button color="primary" type="button" (click)="closeModal()">Atualizar</button>
            <button mat-raised-button color="warn" type="button" (click)="excludeCompany()">Excluir</button>
        </form>
    </div>
</div>